{% extends "base.html" %}
{% load staticfiles %}
{% block page_title %}Password Reset Page{% endblock %}
{% block custom_css %}
    <link rel="stylesheet" href="{% static 'css/reset.css' %}" type="text/css">
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 col-lg-6 offset-lg-3 mt-5 text-center">
            <h2 class="mb-5">Reset Password</h2>
            <form method="post" class="accountform">
                <p>Please specify your email address to receive instructions for resetting it.</p>
                <br>
                <div style="display:none">
                    <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
                </div>
                {{ form.email.errors }}
                <p><label for="id_email" class="control-label required-field">E-mail address:</label><br>
                {{ form.email }}<br> 
                <input type="submit" class="btn btn-primary" value="Reset password" /></p>
            </form>
            <p><a href="{% url 'password_reset' %}">Reset Password</a></p>
        </div>
    </div>
</div>
{% endblock %}