{% extends "base.html" %}
{% block title %}Setting New password{% endblock %}
{% load staticfiles %}
{% block custom_css %}
    <link rel="stylesheet" href="{% static 'css/reset.css' %}" type="text/css">
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 col-lg-6 offset-lg-3 mt-5 text-center">
            {% if validlink %}
                <h2>Reset password</h2>
                <p>Enter your new password below.</p>
                <form action="" method="post" class="accountform">
                    <div style="display:none">
                        <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
                    </div>
                    <table>
                        <tr>
                            <td>{{ form.new_password1.errors }}
                                <label for="id_new_password1">New password:</label></td>
                            <td>{{ form.new_password1 }}</td>
                        </tr>
                        <tr>
                            <td>{{ form.new_password2.errors }}
                                <label for="id_new_password2">Confirm password:</label></td>
                            <td>{{ form.new_password2 }}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><input type="submit" value="Change my password" /></td>
                        </tr>
                    </table>
                </form>
            {% else %}
                <h1>Password reset unsuccessful</h1>
                <p>The password reset link was invalid.<br> 
                Please request a new password reset <a href="{% url 'password_reset' %}">here.</a></p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}