html {
    /* Edge Scrollbar fix */
    -ms-overflow-style: none;
}

/* Navbar */
.showNavBar{
    background-color: rgba(52, 58, 64, 0)!important;
}

/* jumbotron */
#jumboVid{
    position: relative;
    height: inherit;
    width: 99vw;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    -o-object-fit: cover;
    object-fit: cover;
}

/* play btn */
.fa-play {
    position: absolute;
    right: 35%;
    top: 45%;
    font-size: 5em;
    color: rgba(255, 255, 255, 0.8);
    z-index: 10;
    display: none;
}

.jumbotron{
    height: 70vh;
    background-color: rgba(0,0,0, 0.0);
    padding: 0;
    margin: 0;
}

.jumbotron h1, .jumbotron .lead{
    position: relative;
    padding-left: 10%;
    top: 20%;
    color: #fff;
    font-size: 4em;
}

.jumbotron .lead{
    font-size: 1.5em;
    width: 100%;
}

.jumbotron .btn.btn-light.btn-lg{
    position: absolute;
    left: 27%;
    bottom: 10%;
}

/* Opacity */
 .opacityShade {
    position: absolute;
    height:inherit;
    width: 100%;
    z-index: 1;
    background: linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 1) 100%
    )
}

/* https://stackoverflow.com/questions/14761119/how-to-stop-divs-from-wrapping */
/* https://stackoverflow.com/questions/16670931/hide-scroll-bar-but-while-still-being-able-to-scroll */
/* https://stackoverflow.com/questions/50320756/how-to-stop-3-images-side-by-side-inside-a-div-from-wrapping-to-the-next-line */
.column {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    overflow: scroll;
    overflow-y: hidden;
    scroll-behavior: smooth;
    padding: 1%;
    white-space: nowrap;
    
    /* Firefox fix */
    scrollbar-color: transparent transparent;
}

.column::-webkit-scrollbar{
    width: 0px;
    background: rgba(255,255,255, 0); 
}

.result-box{
    position: relative;
    display: inline-block;
    width: 90%;
}

/* Most Popular */
#most-popular .result-box{
    width: 90%;
    margin-right: 2%;
}

.result-box p.number{
    position: absolute;
    top: 10%;
    left: 25%;
    color: rgba(0,0,0, 1);
    text-shadow: 6px 5px 6px rgba(0,0,0,0.7);
    font-size: 10em;
    font-weight: bold;
    font-style: italic;
}

.result-box-hover{
    width: 90%;
}

.img-small-home{
    height: auto;
    width: 100%;
    margin: 0.1%;
    flex-shrink: 0;
    padding: 0;
    border-radius: 5px;
}

/* Icons */
.delete-item-icon,
.like-item-icon,
.dislike-item-icon{
    position: absolute;
    color: #fff;
    font-size: 1.5em;
    margin-top: 120%;
}

.delete-item-icon{
    right: 10%;
}

.dislike-item-icon{
    right: 40%;
}

.like-item-icon{
    right: 70%;
}

/* Controls */

.fas.fa-angle-left, .fas.fa-angle-right{
    position: absolute;
    left: 5%;
    top: 50%;
    font-size: 4em;
    color: red;
}

.fas.fa-angle-right{
    left: 90%;
}

@media (min-width: 425px) {
    .fa-play {
        right: 40%;
    }

    .jumbotron h1, .jumbotron .lead{
        top: 35%;
    }

    .jumbotron .btn.btn-light.btn-lg{
        bottom: 20%;
        left: 10%;
    }
}

@media (min-width: 576px) {
    .jumbotron h1, .jumbotron .lead{
        top: 30%;
    }

    .jumbotron .lead{
        width: 30%;
    }

    .jumbotron .btn.btn-light.btn-lg{
        bottom: 40%;
    }
}

@media (min-width: 768px) {
    .fa-play {
        right: 15%;
    }

    .jumbotron h1, .jumbotron .lead{
        top: 30%;
    }

    .jumbotron .lead{
        width: 70%;
    }

    .jumbotron .btn.btn-light.btn-lg{
        bottom: 25%;
    }
    
    #most-popular .result-box{
        width: 25%;
    }

    .result-box p.number{
        left: 25%;
    }

    .result-box{
        width: 20%;
    }

    .result-box-hover{
        width: 22%;
    }
}

@media (min-width: 992px) {
    #most-popular .result-box{
        width: 22%;
    }

    .result-box{
        width: 14%;
    }

    .result-box-hover{
        width: 16%;
    }
}

@media (min-width: 1200px) {
    .jumbotron .lead{
        width: 40%;
    }

    .fas.fa-angle-left, .fas.fa-angle-right{
        position: absolute;
        left: 2%;
        top: 50%;
        font-size: 3em;
        color: red;
    }

    .fas.fa-angle-right{
        left: 97%;
    }

    /* Most Popular */

    #most-popular .result-box{
        width: 14%;
    }

    .result-box p.number{
        left: 20%;
    }

    .result-box{
        width: 10%;
    }

    .result-box-hover{
        width: 12%;
    }
}