/* CSS file for index page */

/* jumbotron */

.jumbotron{
    background: transparent;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-attachment: fixed;
    background-size: 100%;
    height: 90vh;
    padding: 0;
    margin-top: 1%;
    -webkit-box-shadow: inset 0px 1px 22px 16px rgba(0,0,0,0.46);
    -moz-box-shadow: inset 0px 1px 22px 16px rgba(0,0,0,0.46);
    box-shadow: inset 0px 1px 22px 16px rgba(0,0,0,0.46);
}

.jumbotron h1, .jumbotron .lead{
    position: relative;
    padding-left: 10%;
    top: 16%;
    left: 11%;
    width: 20%;
    color: #fff;
    font-size: 6em;
}

.jumbotron .lead{
    font-size: 1em;
    margin-top: -7%;
    margin-left: 19%;
    width: 60%;
}

@media (min-width: 768px) {
    .jumbotron{
        height: 89vh;
    }

    .jumbotron h1, .jumbotron .lead{
        top: 35%;
        left: 27%;
        width: 20%;
    }

    .jumbotron .lead{
        font-size: 1em;
        margin-top: -3%;
        margin-left: 8%;
        width: 60%;
    }
}

@media (min-width: 992px) {
    .jumbotron{
        height: 88vh;
    }

    .jumbotron h1, .jumbotron .lead{
        top: 29%;
        left: 30%;
        width: 20%;
    }

    .jumbotron .lead{
        font-size: 1em;
        margin-top: -2%;
        margin-left: 8%;
        width: 60%;
    }
}

@media (min-width: 1200px) {
    .jumbotron{
        background-size: 90%;
        height: 86vh;
    }

    .jumbotron h1, .jumbotron .lead{
        top: 25%;
        left: 30%;
        width: 20%;
    }

    .jumbotron .lead{
        font-size: 1em;
        margin-top: -1%;
        margin-left: 8%;
        width: 60%;
    }
}