/* jumbotron */

.jumbotron{
    background: transparent;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-attachment: fixed;
    background-size: 70%;
    height: 80vh;
    padding: 0;
    margin-top: 1%;
    -webkit-box-shadow: inset 0px 1px 22px 16px rgba(0,0,0,0.46);
    -moz-box-shadow: inset 0px 1px 22px 16px rgba(0,0,0,0.46);
    box-shadow: inset 0px 1px 22px 16px rgba(0,0,0,0.46);
}

.jumbotron h1, .jumbotron .lead{
    position: relative;
    padding-left: 10%;
    top: 20%;
    color: #fff;
    font-size: 6em;
}

.jumbotron .lead{
    font-size: 1.5em;
    width: 30%;
}

.jumbotron form{
    position: absolute;
    top: 60vh;
    bottom: 0;
    left: 0;
    right: 5vw;
    text-align: center;
}

.jumbotron form .btn{
    position: relative;
    margin-top: 1%;
}

form input#email{
    height: 4vh;
    width: 20vw;
    font-size: 2em;
    text-align: center;
}