/* profile */

#profile{
    background-color: #fff;
    color: #000;
    border-radius: 5px;
    text-align: justify;
}

.profile-subheading{
    font-size: 1.3em;
}

.profile-info {
    padding: 1% 0% 1% 42%;
}