/* profile */

#profile{
    background-color: #fff;
    color: #000;
    border-radius: 5px;
    text-align: justify;
    margin-top: 5%;
}

.profile-subheading{
    font-size: 1.3em;
    margin-right: 5%;
}

.profile-info {
    padding: 1% 0% 1% 42%;
}

/* modal */

.modal{
    color: #000;
}

form {
    margin: 0;
    padding: 0;
}