.container{
    margin-top: 20vh;
    color: #fff;
    border-radius: 5px;
    min-height: 74vh;
}

form{
    margin-bottom: 4%;
    margin-top: 4%;
}

form .btn.btn-primary{
    margin-top: 2%;
    background-color: #f9f9f9;
    border: none;
    color: #000;
}

form p{
    font-size: 1em;
    padding: 1%;
}

@media (min-width: 768px) {
    .container{
        margin-top: 15vh;
        min-height: 77vh;
    }
}