/* CSS for search pages */

.container-fluid{
    margin-top: 30%;
}

#fullsearchbox{
    width: 100%;
}

.result-box{
    position: relative;
    display: inline;
}

.search-results{
    text-align: center;
}

/* images apart from home */
.img-small{
    height: auto;
    width: 80%;
    margin: 0.1%;
    flex-shrink: 0;
    padding: 0;
    margin-top: 2%;
    border-radius: 5px;
}

.img-big{
    width: 90%;
}

/* home page images */
.img-small-home{
    height: auto;
    width: 100%;
    margin: 0.1%;
    flex-shrink: 0;
    padding: 0;
}

.img-big-home{
    width: 130%;
}


/* watch list */

/* Icons */
.delete-item-icon,
.like-item-icon,
.dislike-item-icon{
    position: absolute;
    color: #fff;
    font-size: 1.5em;
    margin-top: 120%;
}

.delete-item-icon{
    right: 10%;
}

.dislike-item-icon{
    right: 40%;
}

.like-item-icon{
    right: 70%;
}

@media (min-width: 576px) {
    .img-small{
        height: auto;
        width: 42%;
        margin: 0.1%;
        flex-shrink: 0;
        padding: 0;
    }

    .img-big{
        width: 44%;
    }
}

@media (min-width: 768px) {
    .search-results{
        text-align: left;
    }

    .container-fluid{
        margin-top: 20%;
    }

    .img-small{
        height: auto;
        width: 32%;
        margin: 0.1%;
        flex-shrink: 0;
        padding: 0;
    } 

    .img-big{
        width: 34%;
    }
}

@media (min-width: 992px) {
    .container-fluid{
        margin-top: 10%;
    }

    .img-small{
        height: auto;
        width: 22%;
        margin: 0.1%;
        flex-shrink: 0;
        padding: 0;
    }

    .img-big{
        width: 24%;
    }
}

@media (min-width: 1200px) {
    .container-fluid{
        margin-top: 5%;
    }

    .img-small{
        height: auto;
        width: 10%;
        margin: 0.1%;
        flex-shrink: 0;
        padding: 0;
    }

    .img-big{
        width: 12%;
    }
}