.container-fluid{
    margin-top: 30%;
}

#fullsearchbox{
    width: 100%;
}

.result-box{
    position: relative;
    display: inline;
}

.result-box img{
    height: auto;
    width: 80%;
    margin: 0.1%;
    flex-shrink: 0;
    padding: 0;
    margin-top: 2%;
}

/* .result-box img:hover{
    width: 90%;
} */

/* watch list */

/* Icons */
.delete-item-icon,
.like-item-icon,
.dislike-item-icon{
    position: absolute;
    color: #fff;
    font-size: 1.5em;
    margin-top: 120%;
}

.delete-item-icon{
    right: 10%;
}

.dislike-item-icon{
    right: 40%;
}

.like-item-icon{
    right: 70%;
}

@media (min-width: 576px) {
    .result-box img{
        height: auto;
        width: 42%;
        margin: 0.1%;
        flex-shrink: 0;
        padding: 0;
    }

    /* .result-box img:hover{
        width: 44%;
    } */
}

@media (min-width: 768px) {
    .container-fluid{
        margin-top: 20%;
    }

    .result-box img{
        height: auto;
        width: 32%;
        margin: 0.1%;
        flex-shrink: 0;
        padding: 0;
    }

    /* .result-box img:hover{
        width: 34%;
    } */
}

@media (min-width: 992px) {
    .container-fluid{
        margin-top: 10%;
    }

    .result-box img{
        height: auto;
        width: 22%;
        margin: 0.1%;
        flex-shrink: 0;
        padding: 0;
    }

    /* .result-box img:hover{
        width: 24%;
    } */
}

@media (min-width: 1200px) {
    .container-fluid{
        margin-top: 5%;
    }

    .result-box img{
        height: auto;
        width: 12%;
        margin: 0.1%;
        flex-shrink: 0;
        padding: 0;
    }

    /* .result-box img:hover{
        width: 14%;
    } */
}