.container-fluid{
    margin-top: 30%;
}

#fullsearchbox{
    width: 100%;
}

.result-box{
    display: inline;
}

.result-box img{
    height: auto;
    width: 80%;
    margin: 0.1%;
    flex-shrink: 0;
    padding: 0;
    margin-top: 2%;
}

/* .result-box img:hover{
    width: 90%;
} */

/* watch list */

.delete-item-icon{
    position: relative;
    width: 5px;
    font-size: 2em;
    bottom: -40%;
    left: -8%;
    color: red;
}

@media (min-width: 576px) {
    .result-box img{
        height: auto;
        width: 42%;
        margin: 0.1%;
        flex-shrink: 0;
        padding: 0;
    }

    /* .result-box img:hover{
        width: 44%;
    } */
}

@media (min-width: 768px) {
    .container-fluid{
        margin-top: 20%;
    }

    .result-box img{
        height: auto;
        width: 32%;
        margin: 0.1%;
        flex-shrink: 0;
        padding: 0;
    }

    /* .result-box img:hover{
        width: 34%;
    } */
}

@media (min-width: 992px) {
    .container-fluid{
        margin-top: 10%;
    }

    .result-box img{
        height: auto;
        width: 22%;
        margin: 0.1%;
        flex-shrink: 0;
        padding: 0;
    }

    /* .result-box img:hover{
        width: 24%;
    } */
}

@media (min-width: 1200px) {
    .container-fluid{
        margin-top: 5%;
    }

    .result-box img{
        height: auto;
        width: 12%;
        margin: 0.1%;
        flex-shrink: 0;
        padding: 0;
    }

    /* .result-box img:hover{
        width: 14%;
    } */
}