body{
    background-color: #000;
    color: #fff;
}
 
/*  Nav */
/* Fix dropdown going off screen */
.dropdown-menu,
.dropdown-menu a,
.dropdown-menu a:link,
.dropdown-menu a:hover,
.dropdown-menu a:focus{ 
    min-width: 7rem;
    background-color: rgba(0,0,0, 0.3);
}

.bg-dark{
    background-color: #000!important;
}

.dropdown-item{
    /* text-align: center; */
    margin-top: 5%;
    color: rgba(255,255,255,.5);
}
.dropdown-item:hover{
    color: rgba(255,255,255, 1);
    background:transparent;
}

a.dropdown-item i.fas.fa-user, 
a.dropdown-item i.fas.fa-sign-out-alt{
    font-size: 1.4em;
    background-color: transparent;
}

/* footer */
footer{ 
    margin-top: 2%;
}
footer p{ 
    position: relative;
    bottom: 0%;
    text-align: center;
}

/* Search Box */
#searchbox{
    display: none;
    width: 80%;
}

#search-icon{
    color: rgba(255,255,255,.5);
    font-size: 1.4em;
}

#search-icon:hover{
    color: rgba(255,255,255, 1);
}