/* images carousal */
.row {
  max-height: 4%;
}

/* https://stackoverflow.com/questions/50320756/how-to-stop-3-images-side-by-side-inside-a-div-from-wrapping-to-the-next-line */
.column {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    overflow: hidden;
    padding: 1%;
}

.column img{
    height: auto;
    width: 8%;
    margin: 0.1%;
}

/* Controls */

.fas.fa-angle-left, .fas.fa-angle-right{
    position: absolute;
    left: 2%;
    top: 50%;
    font-size: 3em;
    color: red;
}

.fas.fa-angle-right{
    left: 97%;
}
