body{
    background-color: #000;
    color: #fff;
}
 
/*  Nav */
/* Fix dropdown going off screen */
.dropdown-menu,
.dropdown-menu a,
.dropdown-menu a:link,
.dropdown-menu a:hover,
.dropdown-menu a:focus{ 
    min-width: 7rem;
    background-color: #000;
}

.bg-dark{
    background-color: #000!important;
}

.dropdown-item, 
.dropdown-item:hover{
    color: #fff;
}

/* footer */
footer{ 
    margin-top: 2%;
}
footer p{ 
    position: relative;
    bottom: 0%;
    text-align: center;
}

/* Hide navbar on scroll */
.showNavBar{
    background-color: rgba(52, 58, 64, 0)!important;
}