/* CSS file for video page */

/* Video Page */
.container-fluid{
    margin-top: 10%;
}

#video-content{
    width: 100%;
}

.player-actions{
    margin-top: 2%;
    margin-bottom: 2%;
}

.player-actions .fas.fa-thumbs-up,
.player-actions .fas.fa-thumbs-down,
.player-actions .fas.fa-plus,
.player-actions .fas.fa-times-circle{
    position: initial;
    margin-top: 1%;
    margin-left: 1%;
}

.video-details{
    margin-top: 0;
}

.suggested{
    text-align: center;
}

@media (min-width: 576px) {
    .suggested{
        text-align: initial;
    }
}

@media (min-width: 768px) {
    .container-fluid{
        margin-top: 3%;
    }
}