{% extends 'base.html' %} 
{% load staticfiles %}
{% load video_in_watchlist from template_filters %}
{% load video_in_likelist from template_filters %}
{% load video_in_dislikelist from template_filters %}
{% block page_title %}Home{% endblock %}
{% block custom_css %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}" type="text/css">
{% endblock %}
{% block content %}
<!-- Jumbotron/ Featured -->
<div class="container-fluid mb-3" id="featured-top" style="background:url('media/{{ video_img }}') no-repeat center center fixed; background-size: cover;">
    <div class="row">
        <div class="col-12 p-0">
            <div class="jumbotron">
                <div class="opacityShade">
                    <h1 class="page-header">{{ video_title }}</h1>
                    <p class="lead">{{ video_desc|truncatechars:100 }}...</p>
                    <a href="/content/{{ video_link }}" class="btn btn-primary btn-lg">Watch Now!</a>
                </div>
                <video id="jumboVid" muted autoplay>
                    <source src="{{ video_url }}" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
            <i class="fas fa-play"></i>
        </div>
    </div>
</div>
<!-- Content/Genres -->
<div class="container-fluid">
    <div class="row">
        {% for genre in genres %}
            <div class="col-12">
                <h4>{{ genre }}</h4>
                <div class="column" id="{{ genre }}">
                    {% for video in videos %}
                        {% if video.genre == genre %}
                            <!-- Duplicated temporarily to check scroll -->
                            <div class="result-box">
                                <a href="/content/{{ video.slug }}"><img src="media/{{ video.image_cover }}" class="img-small-home" alt="{{ video.slug }}"></a>
                                {% if watch_list != None %}
                                    {% if watch_list|video_in_watchlist:video.title %} 
                                        <i class="fas fa-times-circle delete-item-icon" style="display: none;"></i>
                                    {% else %}
                                        <i class="fas fa-plus delete-item-icon" style="display: none;"></i>
                                    {% endif %}
                                {% else %}
                                        <i class="fas fa-plus delete-item-icon" style="display: none;"></i>
                                {% endif %}
                                {% if like_list != None %}
                                    {% if like_list|video_in_likelist:video.title %}
                                        <i class="fas fa-thumbs-up like-item-icon" style="display: none;"></i>
                                        <i class="fas fa-thumbs-down dislike-item-icon shaded-icon" style="display: none;"></i>
                                    {% endif %}
                                {% elif dislike_list != None %}
                                    {% if dislike_list|video_in_dislikelist:video.title %}
                                            <i class="fas fa-thumbs-up like-item-icon shaded-icon" style="display: none;"></i>
                                            <i class="fas fa-thumbs-down dislike-item-icon" style="display: none;"></i>
                                    {% endif %}
                                {% else %}
                                        <i class="fas fa-thumbs-up like-item-icon" style="display: none;"></i>
                                        <i class="fas fa-thumbs-down dislike-item-icon" style="display: none;"></i>
                                {% endif %}
                            </div>
                        {% endif %}
                    {% endfor %}   
                    <i class="fas fa-angle-left" style="display: none"></i>
                    <i class="fas fa-angle-right" style="display: none"></i>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
<!-- scripts -->
<script src="{% static 'js/home.js' %}"></script>
{% endblock %}