{% extends 'base.html' %} 
{% load staticfiles %}
{% block page_title %}Home{% endblock %}
{% block custom_css %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}" type="text/css">
{% endblock %}
{% block content %}
<!-- Jumbotron/ Featured -->
<div class="container-fluid mb-3" id="featured-top" style="background:url('../{{ video_img }}') no-repeat center center fixed; background-size: cover;">
    <div class="row">
        <div class="col-12 p-0">
            <div class="jumbotron">
                <div class="opacityShade">
                    <h1 class="page-header">{{ video_title }}</h1>
                    <p class="lead">{{ video_desc }}</p>
                    <a href="/content/{{ video_link }}" class="btn btn-primary btn-lg">Watch Now!</a>
                </div>
                <video id="jumboVid" muted autoplay>
                    <source src="{{ video_url }}" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
            <i class="fas fa-play"></i>
        </div>
    </div>
</div>
<!-- Content/Genres -->
<div class="container-fluid">
    <div class="row">
        {% for genre in genres %}
            <div class="col-12">
                <h4>{{ genre }}</h4>
                <div class="column" id="{{ genre }}">
                    {% for video in videos %}
                        {% if video.genre == genre %}
                            <a href="/content/{{ video.slug }}"><img src="{{ video.image_cover }}" alt="{{ video.slug }}-cover"></a>
                        {% endif %}
                    {% endfor %}   
                    <i class="fas fa-angle-left" style="display: none"></i>
                    <i class="fas fa-angle-right" style="display: none"></i>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
<!-- scripts -->
<script src="{% static 'js/script.js' %}"></script>
{% endblock %}