{% extends 'base.html' %} 
{% load staticfiles %}
{% block page_title %}Home{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
            {% for category in categories %}
            <div class="col-12">
                <h4>{{ category }}</h4>
                <div class="column">
                    <img src="/media/img/blackaf.jpg" alt="Card image cap">
                    <img src="/media/img/blackaf.jpg" alt="Card image cap">
                    <img src="/media/img/blackaf.jpg" alt="Card image cap">
                    <img src="/media/img/blackaf.jpg" alt="Card image cap">
                    <img src="/media/img/blackaf.jpg" alt="Card image cap">
                    <img src="/media/img/blackaf.jpg" alt="Card image cap">
                    <img src="/media/img/blackaf.jpg" alt="Card image cap">
                    <img src="/media/img/blackaf.jpg" alt="Card image cap">
                    <img src="/media/img/blackaf.jpg" alt="Card image cap">
                    <img src="/media/img/blackaf.jpg" alt="Card image cap">
                    <img src="/media/img/blackaf.jpg" alt="Card image cap">
                    <img src="/media/img/blackaf.jpg" alt="Card image cap">
                    <img src="/media/img/blackaf.jpg" alt="Card image cap">
                    <img src="/media/img/blackaf.jpg" alt="Card image cap">
                    <img src="/media/img/blackaf.jpg" alt="Card image cap">
                    <img src="/media/img/blackaf.jpg" alt="Card image cap">
                    <img src="/media/img/blackaf.jpg" alt="Card image cap">
                    <img src="/media/img/blackaf.jpg" alt="Card image cap">
                    <img src="/media/img/blackaf.jpg" alt="Card image cap">
                    <img src="/media/img/blackaf.jpg" alt="Card image cap">
                    <img src="/media/img/blackaf.jpg" alt="Card image cap">
                    <img src="/media/img/blackaf.jpg" alt="Card image cap">
                    <img src="/media/img/blackaf.jpg" alt="Card image cap">
                    <img src="/media/img/blackaf.jpg" alt="Card image cap">
                </div>
            </div>
            {% endfor %}
        </div>

        <!-- scripts -->
        <script src="{% static 'js/script.js' %}"></script>
{% endblock %}