{% extends 'base.html' %} 
{% load staticfiles %}
{% block page_title %}{{ title }}{% endblock %}
<!-- Load custom filters -->
{% load video_in_watchlist from template_filters %}
{% load video_in_likelist from template_filters %}
{% load video_in_dislikelist from template_filters %}
{% block custom_css %}
    <link rel="stylesheet" href="{% static 'css/search.css' %}" type="text/css">
{% endblock %}
{% block content %}
<!-- Video Player --> 
<div class="container-fluid" style="background: linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 1) 100%
    ), url('../media/{{ video_img }}') no-repeat center center fixed; background-size: cover;">
    <div class="row">
        <div class="col-9 offset-2 mt-5"> 
            <video id="video-content" controls autoplay>
                <source src="{{ youtube_link }}" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
    </div>
</div>
<!-- Video Details -->
<div class="container-fluid">
    <div class="row">
        <div class="col-10 offset-md-2 mb-3">
            <h1>{{ title }}</h1>
            <p>Plot: {{ description }}</p>
            <p>Tags: 
            {% for tag in tags %}
                <a href="../search/?tag={{ tag.slug }}">{{ tag.name }}</a>
            {% endfor %}
            </p>
            <p>Genre: <a href="../search/?genre={{ genre }}">{{ genre }}</a></p>
        </div>
        <!-- Suggestions/Related Videos -->
        <div class="col-10 offset-md-2">
            <h2 class="mb-5">More like this:</h2>
            {% for video in videos %}
                <div class="result-box">
                    <a href="../content/{{ video.slug }}"><img src="/media/{{ video.image_cover }}" class="img-small" alt="{{ video.slug }}"/></a>
                    {% if watch_list != None %}
                        {% if watch_list|video_in_watchlist:video.title %} 
                            <i class="fas fa-times-circle delete-item-icon" style="display: none;"></i>
                        {% else %}
                            <i class="fas fa-plus delete-item-icon" style="display: none;"></i>
                        {% endif %}
                    {% else %}
                            <i class="fas fa-plus delete-item-icon" style="display: none;"></i>
                    {% endif %}
                    {% if like_list == None and dislike_list == None %}
                        <i class="fas fa-thumbs-up like-item-icon" style="display: none;"></i>
                        <i class="fas fa-thumbs-down dislike-item-icon" style="display: none;"></i>
                    {% else %}
                        {% if like_list|video_in_likelist:video.title or dislike_list|video_in_dislikelist:video.title %}
                            {% if like_list|video_in_likelist:video.title %}
                                <i class="fas fa-thumbs-up like-item-icon" style="display: none;"></i>
                                <i class="fas fa-thumbs-down dislike-item-icon shaded-icon" style="display: none;"></i>
                            {% else %}
                                <i class="fas fa-thumbs-up like-item-icon shaded-icon" style="display: none;"></i>
                                <i class="fas fa-thumbs-down dislike-item-icon" style="display: none;"></i>
                            {% endif %}
                        {% else %}
                            <i class="fas fa-thumbs-up like-item-icon" style="display: none;"></i>
                            <i class="fas fa-thumbs-down dislike-item-icon" style="display: none;"></i>
                        {% endif %}
                    {% endif %}
                </div>
            {% endfor %} 
        </div>
    </div>
</div>
{% endblock %}