{% extends 'base.html' %} 
{% block page_title %}{{ slug }}{% endblock %} 
{% block page_heading %}Video{% endblock %}

{% block content %}
<!-- Video Player --> 
<div class="container-fluid" style="background: linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 1) 100%
    ), url('../{{ video_img }}') no-repeat center center fixed; background-size: cover;">
    <div class="row">
        <div class="col-9 offset-2 mt-5 mb-5"> 
            <video id="video-content" controls autoplay>
                <source src="{{ youtube_link }}" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
    </div>
</div>

<!-- Video Details -->
<div class="container-fluid">
    <div class="row">
        <div class="col-10 offset-md-2 mb-3 mt-5">
            <h1>{{ title }}</h1>
            <p>Desc: {{ description }}</p>
            <p>Tags: {{ tags }}</p>
            <p>Genre: {{ genre }}</p>
        </div>
        <!-- Suggestions/Related Videos -->
        <div class="col-10 offset-md-2">
            <h2>Videos like this:</h2>
        </div>
    </div>
</div>
{% endblock %}