{% extends 'base.html' %} 
{% load staticfiles %}
<!-- Load custom filters -->
{% load video_in_watchlist from template_filters %}
{% load video_in_likelist from template_filters %}
{% load video_in_dislikelist from template_filters %}
{% block page_title %}Watch List{% endblock %}
{% block custom_css %}
    <link rel="stylesheet" href="{% static 'css/search.css' %}" type="text/css">
{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        {% if videos == None %}
            <div class="col-md-8 offset-md-2">
                <h2 class="m-5">It's a little lonely in here, Add some videos to your list by pressing the <i class="fas fa-plus"></i> icon</h2>
            </div>
        {% else %}
            <div class="col-md-8 offset-md-2">
                <h2 class="m-5">Watch List</h2>
            </div>
            <div class="col-md-10 text-center">
                {% for video in videos %}
                    <div class="result-box">
                        <a href="../{{ video.slug }}"><img src="/media/{{ video.image_cover }}" class="img-small" alt="{{ video.slug }}"/></a>
                        {% if watch_list != None %}
                            {% if watch_list|video_in_watchlist:video.title %} 
                                <i class="fas fa-times-circle delete-item-icon" style="display: none;"></i>
                            {% else %}
                                <i class="fas fa-plus delete-item-icon" style="display: none;"></i>
                            {% endif %}
                        {% else %}
                                <i class="fas fa-plus delete-item-icon" style="display: none;"></i>
                        {% endif %}
                        {% if like_list == None and dislike_list == None %}
                            <i class="fas fa-thumbs-up like-item-icon" style="display: none;"></i>
                            <i class="fas fa-thumbs-down dislike-item-icon" style="display: none;"></i>
                        {% else %}
                            {% if like_list|video_in_likelist:video.title or dislike_list|video_in_dislikelist:video.title %}
                                {% if like_list|video_in_likelist:video.title %}
                                    <i class="fas fa-thumbs-up like-item-icon" style="display: none;"></i>
                                    <i class="fas fa-thumbs-down dislike-item-icon shaded-icon" style="display: none;"></i>
                                {% else %}
                                    <i class="fas fa-thumbs-up like-item-icon shaded-icon" style="display: none;"></i>
                                    <i class="fas fa-thumbs-down dislike-item-icon" style="display: none;"></i>
                                {% endif %}
                            {% else %}
                                <i class="fas fa-thumbs-up like-item-icon" style="display: none;"></i>
                                <i class="fas fa-thumbs-down dislike-item-icon" style="display: none;"></i>
                            {% endif %}
                        {% endif %}
                    </div>
                {% endfor %} 
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}