{% extends 'base.html' %} 
{% load staticfiles %}
{% load bootstrap_tags %} 
{% block page_title %}Checkout{% endblock %} 
{% block head_js %}
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript">
    //<![CDATA[
        Stripe.publishableKey = '{{ publishable }}';
    //]]>
</script>
<script type="text/javascript" src="{% static 'js/stripe.js' %}"></script>
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-9 offset-3">
            <form role="form" method="post" id="payment-form" action="{% url 'checkout' %}">
                <legend>Payment Details</legend>

                <div id="credit-card-errors" style="display: none;">
                    <div class="alert-message block-message error" id="stripe-error-message"></div>
                </div>

                <div class="form-group col-md-6">
                    <label>Plan:</label>
                    <select class="form-control">
                        <option>{{ plan }}</option>
                    </select>
                    <br>
                    <label>Total:</label><h4> &euro; {{ total }}</h4>
                </div>

                <div class="form-group col-md-6">
                    {{ payment_form | as_bootstrap }}
                </div>

                {% csrf_token %}
                <div class="form-group col-md-12">
                    <input class=" btn btn-primary" id="submit_payment_btn" name="commit" type="submit" value="Submit Payment">
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}