{% extends 'base.html' %} 
{% load staticfiles %}
{% block page_title %}Watch Anywhere!{% endblock %} 
{% block custom_css %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}" type="text/css">
{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="jumbotron" style="background-image: url({% static 'images/responsive_screen.png' %})">
                <h1 class="page-header">Flix</h1>
                <p class="lead">Click. Play. Anywhere!</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}