{% extends 'base.html' %} 
{% load staticfiles %}
<!-- Load custom filters -->
{% load video_in_list from template_filters %}
{% block page_title %}Search{% endblock %}
{% block custom_css %}
    <link rel="stylesheet" href="{% static 'css/search.css' %}" type="text/css">
{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row">
            {% if search_term == None and genre == None and tag == None %}
                <div class="col-md-8 offset-md-2">
                    <form class="form-inline my-2 my-lg-0" action="{% url 'plans' %}" method="get">
                        <input class="form-control mr-sm-2" id="fullsearchbox" type="search" placeholder="Search" aria-label="Search">
                    </form> 
                </div>
            {% elif genre != None %}
                <div class="col-md-8 offset-md-2 mb-5">
                    <h2>{{ genre }}</h2>
                </div>
                <!-- Results -->
                <div class="col-10 offset-1 text-center">
                    {% for video in videos %}
                        <div class="result-box">
                            <a href="../content/{{ video.slug }}"><img src="/media/{{ video.image_cover }}" class="img-small" alt="{{ video.slug }}"/></a>
                            {% if watch_list != None %}
                                {% if watch_list|video_in_list:video.title %} 
                                    <i class="fas fa-times-circle delete-item-icon" style="display: none;"></i>
                                {% else %}
                                    <i class="fas fa-plus delete-item-icon" style="display: none;"></i>
                                {% endif %}
                            {% else %}
                                    <i class="fas fa-plus delete-item-icon" style="display: none;"></i>
                            {% endif %}
                            {% if like_list == None and dislike_list == None %}
                                <i class="fas fa-thumbs-up like-item-icon" style="display: none;"></i>
                                <i class="fas fa-thumbs-down dislike-item-icon" style="display: none;"></i>
                            {% else %}
                                {% if like_list|video_in_list:video.title or dislike_list|video_in_list:video.title %}
                                    {% if like_list|video_in_list:video.title %}
                                        <i class="fas fa-thumbs-up like-item-icon" style="display: none;"></i>
                                        <i class="fas fa-thumbs-down dislike-item-icon shaded-icon" style="display: none;"></i>
                                    {% else %}
                                        <i class="fas fa-thumbs-up like-item-icon shaded-icon" style="display: none;"></i>
                                        <i class="fas fa-thumbs-down dislike-item-icon" style="display: none;"></i>
                                    {% endif %}
                                {% else %}
                                    <i class="fas fa-thumbs-up like-item-icon" style="display: none;"></i>
                                    <i class="fas fa-thumbs-down dislike-item-icon" style="display: none;"></i>
                                {% endif %}
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            {% elif search_term != None %}
                <div class="col-md-8 offset-md-2 search-results">
                    <input class="form-control mr-sm-2" id="fullsearchbox" type="search" placeholder="Search" aria-label="Search">
                    <h2 class="m-5 text-center">{{ result_count }} results found for search term "{{ search_term }}"</h2>
                    {% for video in videos %}
                        <div class="result-box">
                            <a href="../content/{{ video.slug }}"><img src="/media/{{ video.image_cover }}" class="img-small" alt="{{ video.slug }}"/></a>
                            {% if watch_list != None %}
                                {% if watch_list|video_in_list:video.title %} 
                                    <i class="fas fa-times-circle delete-item-icon" style="display: none;"></i>
                                {% else %}
                                    <i class="fas fa-plus delete-item-icon" style="display: none;"></i>
                                {% endif %}
                            {% else %}
                                <i class="fas fa-plus delete-item-icon" style="display: none;"></i>
                            {% endif %}
                            {% if like_list == None and dislike_list == None %}
                                <i class="fas fa-thumbs-up like-item-icon" style="display: none;"></i>
                                <i class="fas fa-thumbs-down dislike-item-icon" style="display: none;"></i>
                            {% else %}
                                {% if like_list|video_in_list:video.title or dislike_list|video_in_list:video.title %}
                                    {% if like_list|video_in_list:video.title %}
                                        <i class="fas fa-thumbs-up like-item-icon" style="display: none;"></i>
                                        <i class="fas fa-thumbs-down dislike-item-icon shaded-icon" style="display: none;"></i>
                                    {% else %}
                                        <i class="fas fa-thumbs-up like-item-icon shaded-icon" style="display: none;"></i>
                                        <i class="fas fa-thumbs-down dislike-item-icon" style="display: none;"></i>
                                    {% endif %}
                                {% else %}
                                    <i class="fas fa-thumbs-up like-item-icon" style="display: none;"></i>
                                    <i class="fas fa-thumbs-down dislike-item-icon" style="display: none;"></i>
                                {% endif %}
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
                {% elif tag != None %}
                <div class="col-md-8 offset-md-2 search-results">
                    <input class="form-control mr-sm-2" id="fullsearchbox" type="search" placeholder="Search" aria-label="Search">
                    <h2 class="m-5 text-center">{{ result_count }} results found for tag "{{ tag }}"</h2>
                    {% for video in videos %}
                        <div class="result-box">
                            <a href="../content/{{ video.slug }}"><img src="/media/{{ video.image_cover }}" class="img-small" alt="{{ video.slug }}"/></a>
                            {% if watch_list != None %}
                                {% if watch_list|video_in_list:video.title %} 
                                    <i class="fas fa-times-circle delete-item-icon" style="display: none;"></i>
                                {% else %}
                                    <i class="fas fa-plus delete-item-icon" style="display: none;"></i>
                                {% endif %}
                            {% else %}
                                <i class="fas fa-plus delete-item-icon" style="display: none;"></i>
                            {% endif %}
                            {% if like_list == None and dislike_list == None %}
                                <i class="fas fa-thumbs-up like-item-icon" style="display: none;"></i>
                                <i class="fas fa-thumbs-down dislike-item-icon" style="display: none;"></i>
                            {% else %}
                                {% if like_list|video_in_list:video.title or dislike_list|video_in_list:video.title %}
                                    {% if like_list|video_in_list:video.title %}
                                        <i class="fas fa-thumbs-up like-item-icon" style="display: none;"></i>
                                        <i class="fas fa-thumbs-down dislike-item-icon shaded-icon" style="display: none;"></i>
                                    {% else %}
                                        <i class="fas fa-thumbs-up like-item-icon shaded-icon" style="display: none;"></i>
                                        <i class="fas fa-thumbs-down dislike-item-icon" style="display: none;"></i>
                                    {% endif %}
                                {% else %}
                                    <i class="fas fa-thumbs-up like-item-icon" style="display: none;"></i>
                                    <i class="fas fa-thumbs-down dislike-item-icon" style="display: none;"></i>
                                {% endif %}
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
    </div>
</div>
<script src="{% static 'js/search.js' %}"></script>
{% endblock %}