{% load staticfiles %}
<html>
<head>
	<title>Flix - {% block page_title %}{% endblock %}</title>

    <!-- External Libraries-->
    <link rel="stylesheet" href="{% static 'libs/css/bootstrap.min.css' %}" type="text/css">
    <script src="{% static 'libs/js/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'libs/js/popper.min.js' %}"></script>
    <script src="{% static 'libs/js/bootstrap.min.js' %}"></script>
    <script src="https://kit.fontawesome.com/8534959afc.js" crossorigin="anonymous"></script>

    <!-- Custom CSS -->
	<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
</head>
<body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'index' %}">Flix</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                {% if user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ user }}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{% url 'profile' %}">Profile</a>
                        <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                        </div>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'registration' %}">Register</a>
                    </li>
			    {% endif %}
            </ul>
        </div>
    </nav>
	{% block content %}
	{% endblock %}
</body>
</html>